{% extends 'base.html.twig' %}
{% form_theme formAnnonce 'bootstrap_4_layout.html.twig'%}

{% block body %}

{% if editMode %}
    <h1> Modification de l'annonce </h1>

{% else %}
    <h1> Création d'une nouvelle annonce </h1>
{% endif %}


    {{form_start(formAnnonce)}}
{#accolade au lieu de crochet pour liste car Twig#}
    <br> </br>
    {{form_row(formAnnonce.title, {'label':'Titre*','attr':
    {'placeholder':"Titre de l'annonce"} 
    })}}
    <br> </br>
    {{form_row(formAnnonce.category, {'label':"Catégorie de l\'annonce*",'attr':
    {'placeholder':'Demande d\'aide'
    }
    })}} 
    <br> </br>
    {{form_row(formAnnonce.nomComplet, {'label':'Nom et Prénom*','attr':
    {'placeholder':"Exemple: Jean Dupont"} 
    })}} 
    <br> </br>
    {{form_row(formAnnonce.phoneNumber, {'label':'Numéro de téléphone','attr':
    {'placeholder':"Exemple: 0487019420"} 
    })}}
    <br> </br>
    {{form_row(formAnnonce.email, {'label':'Adresse e-mail','attr':
    {'placeholder':"Exemple: 20317@ecam.be"} 
    })}} 
    <br> </br>
    {{form_row(formAnnonce.content, {'label':'Contenu','attr':
    {'placeholder':"Veuillez expliquer l'objectif de votre annonce"}
    })}}
    <br> </br>
    {{form_row(formAnnonce.image,{'label':'Photo de profil','attr':
    {'placeholder':"URL de l'image"}
    })}}
    <br> </br>
    {{form_row(formAnnonce.zipcode, {'label':'Code Postal','attr':
    {'placeholder':"Veuillez entrer votre code postal"} 
    })}} 
    

    <br> </br>

    <button type="submit" class="btn btn-success">
    {% if editMode %}
    Enregister les modifications de l'annonce
    {% else %}
    Ajouter une annonce
    {% endif %}
    </button>

    {{form_end(formAnnonce)}}

{% endblock %}