{% extends 'base.html.twig' %}

{% block body %}
    <annonce>
        <h2>{{annonce.title}}</h2>
        <h5>{{annonce.type}}</h5>
        <div class="metadata">Ecrit le {{annonce.createdAt | date('d/m/Y')}}  à {{annonce.createdAt | date('H:i')}} par xxxx dans la catégorie XXXX</div>
        <div class="content">
            <img src="{{annonce.image}}" alt="">
            {{annonce.content | raw}}
        </div>
    </annonce>

    <section id="commentaires">
        {% for comment in annonce.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{comment.author}} (<small> {{comment.createdAt | date 
                        ('d/m/Y à H:i')}}</small>)
                    </div>
                    <div class="col">
                        {{comment.content | raw}}
                    </div>

                </div>
            </div>
        {% endfor %}
    </section>


{% endblock %}